# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Code-Socket/.idea/shelf/*
Code-Socket/.idea/workspace.xml
Code-Socket/.idea/vcs.xml
Code-Socket/.idea/vcs.xml___jb_tmp___
Code-Socket/.idea/misc.xml
Code-Socket/.idea/vcs.xml
Code-Socket/.idea/encodings.xml
Code-Socket/.idea/workspace.xml
Code-Socket/workspace.xml
Code-Socket/.idea/workspace.xml___jb_tmp___
Code-Socket/.idea/uiDesigner.xml
Code-Socket/src/chat_TCP/test.java
Code-Socket/history - Copie.txt
Code-Socket/out/production/Code-Socket/META-INF/Code-Socket.kotlin_module
